{% if site.data.banner[page.lang] %}
{% assign banner=site.data.banner[page.lang] %}
<div class="banner">
    <h1>{{ banner.header }}</h1>
    <p>
        {{ banner.text }}
    </p>
    <a href="{{ banner.cta.href }}">{{ banner.cta.text }}</a>
</div>
{% endif %}
<header class="header">
    {% assign localizations=site.pages|where:"ref",page.ref %}
    {% assign num_localizations=localizations|size %}
    {% if num_localizations > 0 %}
    <div class="lang-select">
        <span>{{ site.data.strings[page.lang].header.languages }}</span>
        {% for loc in localizations %}
            {% assign label=site.data.strings[page.lang].misc.languages[loc.lang] %}
        <a {% if page.lang==loc.lang %}class="selected"{% endif %}
            title="{{ label }}"
            href="{{ loc.url }}"><img
                alt="{{ label }}"
                src="/assets/img/languages/{{ loc.lang }}.gif"></a>
        {% endfor %}
    </div>
    {% endif %}
    <div class="logo">
        <a href="/{{ page.lang }}"><img
            src="/assets/img/zf-logo-red.svg" alt="Zetkin"></a>
    </div>
    <div class="menu">
        {% assign menu=site.data.menu[page.lang] %}
        {% capture base %}/{{ page.lang }}{% endcapture %}
        {% include menu.html menu=menu parent=base %}
    </div>
</header>
