{% if site.data.banner[page.lang] %}
{% assign banner=site.data.banner[page.lang] %}
<div class="banner">
    <h1>{{ banner.header }}</h1>
    <p>
        {{ banner.text }}
    </p>
    <a href="{{ banner.cta.href }}">{{ banner.cta.text }}</a>
</div>
{% endif %}
<header class="header">
    <div class="logo">
        <a href="/{{ page.lang }}"><img
            src="/assets/img/zf-logo-red.svg" alt="Zetkin"></a>
    </div>
    <div class="menu">
        {% assign menu=site.data.menu[page.lang] %}
        {% capture base %}/{{ page.lang }}{% endcapture %}
        {% include menu.html menu=menu parent=base %}
    </div>
</header>
