//
// UTILITIES / DISPLAY
//-----------------------------------------------------------------------

.u-inline-block {
  display: inline-block;
}

.u-block {
  display: block;
}

.u-flex {
  display: flex;
}
