body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: white;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-family: $brand-font-family;
    font-weight: 300;
}


h1 {
    font-size: 28px;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 16px;
}

@include medium-screen {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }
}


a {
    color: $c-brand-main;
    text-decoration: none;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border-radius: 3em;
    background: radial-gradient(
        circle at 50% 50%,
        $c-brand-main-pink,
        $c-brand-main-orange);

    &:hover {
        background: $c-brand-main;
    }
}
