.features {
    overflow-x: hidden;
    margin: 0 0 100px;

    .feature {
        margin: 0 5% 30px;
        text-align: center;

        h3, p {
            text-align: left;
        }
    }

    .feature-desc {
        h3 {
            font-size: 30px;
        }
    }

    @include medium-screen {
        .feature {
            max-width: 1200px;
            margin: 0 auto;
            padding: 30px 0 0;
            border-top: 1px solid #ccc;
            text-align: left;

            &:after {
                content: "";
                display: block;
                clear: both;
            }

            .feature-desc {
                margin: 300px 20px;
                width: 30%;
                max-width: 500px;
            }

            &.feature-0, &.feature-2, &.feature-4 {
                .feature-screen {
                    float: left;
                    margin-left: -40%;
                }

                .feature-desc {
                    float: left;
                }
            }

            &.feature-1, &.feature-3, &.feature-5 {
                .feature-screen {
                    float: right;
                    margin-right: -40%;
                }

                .feature-desc {
                    float: right;
                }
            }

            &:first-child {
                padding-top: 0;
                border-width: 0;
            }
        }
    }

    footer {
        text-align: center;
    }
}

.join {
    text-align: center;
    max-width: 600px;
    margin: 0 5% 100px;

    @include medium-screen {
        margin: 0 auto 100px;
    }
}

.testimonials {
    max-width: 1200px;
    margin: 0 5% 100px;

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    .testimonial {
        margin: 0 0 40px;

        img {
            max-width: 180px;
            height: auto;
            border-radius: 50%;
            display: block;
            margin: 10px auto;
        }

        blockquote {
            p {
                font-family: $brand-font-family;
                font-size: 30px;
                margin: 0;
            }
        }

        a {
            text-decoration: none;
            font-weight: bold;
            color: $c-brand-main;
        }
    }

    @include medium-screen {
        margin: 80px auto;

        .testimonial {
            max-width: 44%;
            margin: 0 3%;
            float: left;

            &:after {
                content: "";
                display: block;
                clear: both;
            }

            img {
                float: left;
                width: 20%;
                height: auto;
                margin: 10px 0 0;
            }

            blockquote {
                float: right;
                width: 75%;
            }

            .cite {
                clear: both;
            }

            // Center single testimonials
            &:only-child {
                float: none;
                width: 50%;
                margin: 0 auto;
            }
        }
    }
}

.contribute {
    text-align: center;
    max-width: 600px;
    margin: 0 5%;

    a {
        margin: 5px 5px;
    }

    @include medium-screen {
        margin: 0 auto;
    }
}

.timeline {
    margin: 50px 5%;

    .intro {
        .kicker {
            font-size: 18px;
            color: $c-brand-main;
        }
    }

    ol {
        margin-left: 0;
        border-left: 2px solid $c-ui-dark;
        padding: 30px 0;
        max-width: 500px;
    }

    li {
        list-style-type: none;
        padding-left: 20px;
        position: relative;

        &:before {
            position: absolute;
            top: 6px;
            left: -6px;
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $c-ui-dark;
            transition: background-color 0.4s;
        }

        &:hover {
            &:before {
                background-color: $c-brand-main;
            }
        }

        h3 {
            margin: 0;
            font-size: 18px;
            font-weight: bold;
        }

        p {
            font-size: 14px;
        }
    }

    @include medium-screen {
        max-width: 1000px;
        margin: 50px auto;

        .intro {
            max-width: 600px;
            margin: 0 auto 50px;
            text-align: center;
        }

        ol {
            margin-left: 50%;
            width: 50%;
        }

        li {
            &:nth-child(odd) {
                position: relative;
                left: -100%;
                padding: 0 20px 0 0;
                text-align: right;

                &:before {
                    left: auto;
                    right: -4px;
                }
            }
        }
    }
}

.newsletter {
    text-align: center;
    max-width: 600px;
    margin: 50px 5% 100px;

    label {
        display: block;
    }

    @include medium-screen {
        margin: 50px auto 100px;
    }
}
