.banner {
    padding: 3em;
    margin: 0 0 20px;
    background-color: $c-brand-comp-light;
    background-image: linear-gradient(
        $c-brand-comp-light 0,
        $c-brand-comp-dark 100%);

    color: white;

    text-align: center;
    font-size: 12px;

    h1 {
        font-size: 1.5em;
        font-weight: bold;
    }

    p {
        max-width: 50em;
        margin: 1em auto;
    }

    a {
        display: inline-block;
        border: 1px solid white;
        border-radius: 10em;
        padding: 0.8em 1.3em;
        color: white;
        font-weight: bold;

        &:hover {
            color: $c-brand-comp-dark;
            background-color: white;
        }
    }

    @include medium-screen {
        font-size: 14px;
    }
}

.header {
    padding: 10px;

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    .logo {
        float: left;

        img {
            height: 60px;
            width: auto;
        }
    }


    .menu {
        clear: both;
        padding: 10px 0 0;
        text-align: center;

        ul {
            clear: both;
            margin: 0;
            padding: 0;

            &:after {
                content: "";
                display: block;
                clear: both;
            }
        }

        li {
            list-style-type: none;
            margin: 0 2px;
            display: inline-block;
        }
    }

    a {
        display: block;
        text-decoration: none;
        padding: 4px 4px;
        color: black;

        &:hover {
            color: $c-brand-main;
        }

        &.selected {
            font-weight: bold;
            color: $c-brand-main;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    @include medium-screen {
        .menu {
            float: right;
            clear: none;

            a {
                padding: 10px;
            }

            li {
                &:last-child {
                    float: right;
                    border: 1px solid $c-brand-main;
                    border-radius: 3em;
                    background-color: white;
                    margin-left: 10px;

                    &:hover {
                        background: radial-gradient(
                            circle at 50% 50%,
                            $c-brand-main-pink,
                            $c-brand-main-orange);

                        a {
                            color: white;
                            text-decoration: none;
                        }
                    }

                    a {
                        padding: 10px 20px;
                        color: $c-brand-main;
                    }
                }
            }
        }
    }
}

