.header {
    padding: 10px;

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    .logo {
        float: left;

        img {
            height: 60px;
            width: auto;
        }
    }


    .menu {
        ul {
            clear: both;
            margin: 0;
            padding: 0;
        }

        li {
            list-style-type: none;
            margin: 0 2px;
            float: left;
        }
    }

    a {
        display: block;
        text-decoration: none;
        padding: 4px 4px;
        color: black;

        &:hover {
            color: $c-brand-main-pink;
        }
    }

    @include medium-screen {
        .menu {
            float: right;
            margin: 10px 0 0;
            padding: 0;

            a {
                padding: 10px;
            }

            li {
                &:last-child {
                    float: right;
                    border: 1px solid $c-brand-main;
                    border-radius: 3em;
                    background-color: white;
                    margin-left: 10px;

                    &:hover {
                        background: radial-gradient(
                            circle at 50% 50%,
                            $c-brand-main-pink,
                            $c-brand-main-orange);

                        a {
                            color: white;
                        }
                    }

                    a {
                        padding: 10px 20px;
                        color: $c-brand-main;
                    }
                }
            }
        }
    }
}

