.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 60%;
    background-color: black;
    box-sizing: border-box;

    &:before {
        z-index: 0;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(/assets/img/hero.jpg);
        background-position: center center;
        background-size: cover;
        opacity: 0.6;
    }
}

.hero-content {
    position: relative;
    z-index: 1;

    max-width: 800px;
    margin: 0 5%;

    text-align: center;
    font-family: azo-sans-web, Arial, sans-serif;
    color: white;

    .slogan {
        font-size: 30px;
    }

    .intro {
        font-size: 20px;
    }

    .button {
        margin-top: 40px;
    }

    @include medium-screen {
        margin: 0 auto;

        .slogan {
            font-size: 50px;
        }

        .intro {
            font-size: 30px;
        }
    }
}

.shortcuts {
    max-width: 1200px;
    margin: 40px 5%;

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    & > div {
        margin-bottom: 30px;
    }

    @include medium-screen {
        margin: 40px auto;

        & > div {
            float: left;
            width: 29%;
            margin: 0 2%;
            text-align: center;
        }
    }

    a {
        font-weight: bold;
        color: $c-brand-main-pink;
        text-decoration: none;
        transition: color 0.5s;

        &:hover {
            color: $c-brand-main-orange;
            text-decoration: underline;
        }
    }
}
