.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 60%;
    background-color: black;
    box-sizing: border-box;

    &:before {
        z-index: 0;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(/assets/img/cover.jpg);
        background-position: center center;
        background-size: cover;
        opacity: 0.6;
    }
}

.hero-content {
    position: relative;
    z-index: 1;

    max-width: 800px;
    margin: 0 auto 0 auto;

    text-align: center;
    font-family: azo-sans-web, Arial, sans-serif;
    color: white;

    .slogan {
        font-size: 50px;
    }

    .intro {
        font-size: 30px;
    }

    .button {
        margin-top: 40px;
    }
}

.shortcuts {
    max-width: 1200px;
    margin: 40px auto;

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    @include medium-screen {
        & > div {
            float: left;
            width: 29%;
            margin: 0 2%;
            text-align: center;
        }
    }

    a {
        font-weight: bold;
        color: $c-brand-main-pink;
        text-decoration: none;
        transition: color 0.5s;

        &:hover {
            color: $c-brand-main-orange;
            text-decoration: underline;
        }
    }
}

.features {
    overflow-x: hidden;

    .feature-desc {
        h3 {
            font-size: 30px;
        }
    }

    @include medium-screen {
        .feature {
            max-width: 1200px;
            margin: 50px auto;
            padding: 30px 0 0;
            border-bottom: 1px solid #ccc;

            &:after {
                content: "";
                display: block;
                clear: both;
            }

            .feature-desc {
                margin: 300px 20px;
                width: 30%;
                max-width: 500px;
            }

            &:nth-child(odd) {
                .feature-screen {
                    float: left;
                    margin-left: -40%;
                }

                .feature-desc {
                    float: left;
                }
            }

            &:nth-child(even) {
                .feature-screen {
                    float: right;
                    margin-right: -40%;
                }

                .feature-desc {
                    float: right;
                }
            }
        }
    }
}

.join {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.testimonials {
    max-width: 1200px;
    margin: 30px 5%;

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    .testimonial {
        margin: 0 0 40px;

        img {
            max-width: 180px;
            height: auto;
            border-radius: 50%;
            display: block;
            margin: 10px auto;
        }

        blockquote {
            p {
                font-family: $brand-font-family;
                font-size: 30px;
                margin: 0;
            }
        }

        a {
            text-decoration: none;
            font-weight: bold;
            color: $c-brand-main;
        }
    }

    @include medium-screen {
        margin: 30px auto;

        .testimonial {
            max-width: 45%;
            margin: 0 5% 0 0;
            float: left;

            &:after {
                content: "";
                display: block;
                clear: both;
            }

            img {
                float: left;
                width: 20%;
                height: auto;
                margin: 10px 0 0;
            }

            blockquote {
                float: right;
                width: 75%;
            }

            .cite {
                clear: both;
                &:before {
                    content: "- "
                }
            }
        }
    }
}

.contribute {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}
