body {
  background-color: white;
}

.zetkin-joinform__submit-button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
  margin: 0.5rem 0;
  border-width: 0;
  border-radius: 0.5rem;
}

.zetkin-joinform__field input {
  width: 100%;
  font-size: 1.2rem;
}