.main {
    margin: 30px 5%;
    max-width: 800px;

    .featured-image {
        margin: 0 0 2em;
    }

    .kicker {
        font-family: 'sans-bold';
    }

    figure {
        img + em {
            display: block;
            margin: 0.5em 0;
            font-size: 80%;
            line-height: 1.1em;
        }
    }

    table {
        font-size: 0.7em;
        margin: 0 0 1em;

        td, th {
            padding: 0.1em 0.3em 0.1em 0;
        }
    }

    @include medium-screen {
        margin: 30px auto;

        .content {
            p, ul, ol {
                position: relative;
                max-width: 60%;
            }

            table {
                width: 100%;
                font-size: 0.9em;

                td, th {
                    padding: 0.1em 2em 0.1em 0;
                }
            }

            figure {
                width: 37%;
                float: right;

                p {
                    max-width: none;
                }
            }
        }

        .kicker {
            font-size: 120%;
        }
    }
}
