//
// COMPONENTS / BLURB
//-----------------------------------------------------------------------

.blurb {
  text-align: center;
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;

  > * + * {
    margin-top: $space-small-md;
  }
}

.blurb__title {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 0;
}

.blurb__text {
  font-size: $base-font-size-md;
}

.blurb__actions {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * + * {
    margin-top: $space-tiny-md;
  }
}
