//
// COMPONENTS / BUTTON
//-----------------------------------------------------------------------

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  padding: ($space-tiny-md * 0.55) $space-base-md $space-tiny-md;
  border: 2px solid $link-color;
  border-radius: 100em;
  background-color: transparent;
  color: $button-fg-color;
  font-family: $font-regular;
  font-size: $base-font-size;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.1s ease-out;

  &:hover, &:focus {
    text-decoration: none;
    background-color: $button-fg-color;
    color: $white;
  }

  @media #{$medium} {
    font-size: $base-font-size-md;
  }
}

.button--primary {
  @include primary-button;
}

.button--large {
  @include large-button;
}

.button--bare {
  border-radius: 0;
  padding: 0;
  border: 0;
  color: $link-color;

  &:hover, &:focus {
    background-color: transparent;
    color: $link-highlight-color;
  }
}
