//
// COMPONENTS / FOOTER
//-----------------------------------------------------------------------

.footer {
  padding-top: $space-huge-md;
  padding-bottom: $space-huge-md;
  background-color: $gray-lightest;
  color: $soft-fg-color;
  font-size: $small-font-size-md;
  display: flex;

  a {
    color: $soft-fg-color;

    &:hover, &:focus {
      color: $fg-color;
    }
  }

  p {
    font-size: $small-font-size-md;
  }

  .container {
    flex: 1;
  }
}

.footer__logo {
  margin-right: $space-xlarge-md;
  flex-shrink: 0;

  img {
    width: 46px;
    height: auto;
  }
}

.footer__body {
  flex: 1;

  li {
    margin: 0 0 1em;
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  li li {
    margin: 0 0 0 0.5em;

    a {
      font-weight: normal;
    }
  }

  .selected > a {
    color: $fg-color;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  @media #{$medium} {
    & > ul {
      display: flex;
      flex-wrap: wrap;
      //flex-flow: column wrap;
      align-items: flex-start;
      justify-content: space-between;

      & > li {
        width: 40%;
        //margin-right: 2%;
      }
    }
  }
}

.footer__misc {
  border-top: 1px solid $gray-light;
  margin: 0.5em 0;
  padding: 1em 0;

  & > * {
    display: block;
    font-size: 0.8em;
    font-weight: normal;
  }

  @media #{$medium} {
    text-align: center;

    & > * {
      display: inline-block;
      padding-right: 1em;
      border-right: 1px solid $gray;
      margin-left: 1em;

      &:last-child {
          border-width: 0;
      }
    }
  }
}
