//
// COMPONENTS / NAVBAR
//-----------------------------------------------------------------------

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $border-color;
}

.navbar__collapse {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: $white;
  border-top: 2px solid $border-color;
  border-bottom: 2px solid $border-color;

  @media #{$medium} {
    display: flex;
    justify-content: space-between;
    flex: 1;
    position: static;
    border: 0;
    background-color: transparent;
  }

  &.is-open {
    display: block;
  }
}

.navbar__trigger {
  margin-right: $space-small;
  color: $fg-color;

  &:before {
    position: relative;
    top: -2px;
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 17px;
    height: 14px;
    margin-right: $space-tiny;
    background: url('images/icon-menu.svg') no-repeat;
  }

  &:hover, &:focus {
    color: $fg-color;
  }

  @media #{$medium} {
    display: none;
  }
}

.navbar__menu {
  display: flex;
  flex-direction: column;

  @media #{$medium} {
    flex-direction: row;
    align-items: center;
  }
}

.mainnav {
  .navbar__dropdown {
    position: static;

    @media #{$medium} {
      .dropdown__menu {
        position: absolute;
        left: 0;
        right: 0;

        box-shadow: 0 5px 5px rgba(#000, 0.05);

      }
      &:hover, &:focus, &.is-open {
        .dropdown__menu {
          display: flex;
        }
      }
    }
  }
}

.mainnav__column {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  margin: 1em;
}

.mainnav__item {
  font-size: 0.8em;

  @media #{$medium} {
    padding: 1em;

    &:hover {
      background-color: $gray-lightest;
    }
  }

  a {
    display: block;
    color: inherit;
    text-decoration: none;
    font-weight: normal;
  }

  p {
    margin: 0 0 0.5em;
    font-size: 100%;
  }
}

.navbar__link {
  display: block;
  padding: $space-xsmall;
  color: $fg-color;
  text-decoration: none;

  &:hover,
  &:focus,
  .dropdown:hover &,
  .dropdown:hover & {
    background-color: $gray-lightest;
    color: $fg-color;
  }

  @media #{$medium} {
    display: inline-block;
    padding: $space-base-md $space-xsmall-md;
  }
}

.navbar__dropdown .navbar__link {
  &:after {
    content: '+';
    display: inline-block;
    vertical-align: middle;
    float: right;
    font-size: $large-font-size;
    font-weight: bold;
    color: $fg-color;

    @media #{$medium} {
      display: none;
    }
  }
}

.navbar__icon {
  position: relative;
  top: -3px;
  display: inline-block;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: $space-tiny-md;
}

.navbar__link--muted {
  color: $muted-fg-color;
  font-size: $small-font-size-md;
  font-weight: normal;
}

.navbar__button {
  margin: $space-xsmall;

  @media #{$medium} {
    margin: 0 $space-small-md;
  }
}

.navbar__logo {
  align-self: stretch;
  flex-shrink: 0;
  display: flex;
  padding-left: $space-tiny;

  .navbar__link {
    padding-top: $space-xsmall;
    padding-bottom: $space-xsmall;
    display: flex;
    align-items: center;
  }

  img {
    width: 34px;
    height: 41px;
  }

  @media #{$medium} {
    padding-left: $space-xsmall-md;
    padding-top: 0;
    padding-bottom: 0;

    .navbar__link {
      padding-top: 0;
      padding-bottom: 0;
    }

    img {
      width: 44px;
      height: 53px;
    }
  }
}

.navbar__divider {

  @media #{$medium} {
    position: relative;
    margin-right: $space-base-md;

    &:after {
      content: '';
      position: absolute;
      top: $space-small-md;
      bottom: $space-small-md;
      left: calc(100% + #{$space-base-md / 2});
      width: 2px;
      background-color: $border-color;
    }
  }
}
