//
// COMPONENTS / TESTIMONIAL
//-----------------------------------------------------------------------

.testimonial {
  display: flex;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.testimonial__headshot {
  margin-right: $space-large-md;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid $white;
}

.testmonial__quote {
  max-width: none;
  margin-top: 0;
  font-size: 1.625rem;
  font-weight: bold;

  &:before {
    content: '';
    display: inline-block;
    background: url('../images/quote.svg') no-repeat;
    width: 32px;
    height: 28px;
    margin-right: $space-tiny-md;
  }
}

.testimonial__cite  {
  display: block;
  margin-top: $space-base-md;
  font-size: 1.25rem;
  font-weight: normal;
  font-style: normal;
}
