*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

body {
  background-color: #fff; }

img {
  max-width: 100%;
  vertical-align: middle; }
  img[width], img[height] {
    max-width: none; }

ul, ol {
  list-style: none; }

svg g,
svg path,
svg polygon {
  fill: inherit; }

body {
  font-family: "azo-sans-web", "Helveteica Neue", Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.425;
  color: #231f20;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media only screen and (min-width: 48rem) {
    body {
      line-height: 1.5;
      font-size: 1.125rem; } }

strong {
  font-weight: bold; }

h1, h2, h3, h4 {
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 1.6875rem; }
  * + h1, * + h2, * + h3, * + h4 {
    margin-top: 2.53125rem; }

h1 {
  font-size: 2.625rem; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.375rem; }

p {
  max-width: 60ch;
  font-size: 1.25rem;
  color: #4f4c4d; }
  * + p {
    margin-top: 1.6875rem; }

a {
  color: #ee3236;
  font-weight: bold;
  text-decoration: underline; }
  a:hover, a:focus {
    color: #ac0e12; }

blockquote {
  max-width: 50ch;
  margin-top: 3.375rem;
  margin-bottom: 3.375rem;
  font-size: 1.625rem;
  font-weight: bold; }
  blockquote:before {
    content: '';
    display: inline-block;
    background: url("../images/quote.svg") no-repeat;
    width: 32px;
    height: 28px;
    margin-right: 0.42188rem; }

.container {
  display: inherit;
  flex-direction: inherit;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.6875rem;
  padding-right: 1.6875rem; }

.section {
  padding-top: 6.75rem;
  padding-bottom: 6.75rem; }

.section--bordered {
  border: solid #f5f5f5;
  border-width: 2px 0; }

.section--band {
  position: relative;
  background-color: #231f20;
  background-size: cover;
  background-position: center;
  color: #fff; }
  .section--band a {
    color: #fff; }
    .section--band a:hover, .section--band a:focus {
      color: #d9d9d9; }
  .section--band > * {
    position: relative;
    z-index: 2; }
  .section--band:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.8; }

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3.375rem; }

.grid--3-columns {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.6875rem; }

.grid--bordered {
  grid-gap: 0; }
  .grid--bordered > * {
    padding-top: 2.53125rem;
    padding-bottom: 2.53125rem; }
    .grid--bordered > *:nth-child(2n-1) {
      padding-right: 2.53125rem;
      border-right: 1px solid #f5f5f5; }
    .grid--bordered > *:nth-child(2n) {
      padding-left: 2.53125rem;
      border-left: 1px solid #f5f5f5; }
    .grid--bordered > *:nth-child(2n+3), .grid--bordered > *:nth-child(2n+4) {
      border-top: 2px solid #f5f5f5; }

.list > * + * {
  margin-top: 0.84375rem; }

.list--inline {
  display: flex; }
  .list--inline > * + * {
    margin-top: 0;
    margin-left: 0.84375rem; }
  .list--inline .list__divider:before {
    display: inline-block;
    content: '|';
    margin-right: 0.84375rem; }

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  padding: 0.23203rem 1.6875rem 0.42188rem;
  border: 2px solid #ee3236;
  border-radius: 100em;
  color: #ee3236;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.1s ease-out; }
  .button:hover, .button:focus {
    text-decoration: none;
    background-color: #ee3236;
    color: #fff; }

.button--primary {
  background-color: #ee3236;
  box-shadow: 0 5px 10px -5px rgba(238, 50, 54, 0.6);
  color: #fff; }
  .button--primary:hover, .button--primary:focus {
    background-color: #ac0e12;
    border-color: #ac0e12;
    box-shadow: 0 5px 10px -5px rgba(172, 14, 18, 0.6); }

.button--large {
  font-size: 1.25rem;
  padding: 0.42926rem 2.10938rem 0.78047rem; }

.symbol {
  display: inline-flex;
  width: 7rem;
  height: 7rem;
  background-color: #fdeaea;
  border-radius: 50%; }
  .symbol img {
    width: 3.75rem;
    height: 3.75rem;
    margin: auto; }

.dropdown {
  position: relative; }

.dropdown__menu {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 100%;
  width: 15rem;
  min-width: 100%;
  left: 0;
  border: 2px solid #efefef;
  background-color: #fff; }
  .dropdown:hover .dropdown__menu,
  .dropdown:focus .dropdown__menu {
    display: block; }

.dropdown__link {
  display: block;
  padding: 0.84375rem 1.26562rem;
  font-size: 1rem;
  text-decoration: none;
  color: #231f20; }
  .dropdown__link:hover, .dropdown__link:focus {
    background-color: #f5f5f5;
    color: #231f20; }

.blurb {
  text-align: center; }
  .blurb > * + * {
    margin-top: 1.26562rem; }

.blurb__title {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 0; }

.blurb__text {
  font-size: 1.125rem; }

.blurb__actions {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .blurb__actions > * + * {
    margin-top: 0.42188rem; }

.media-spread {
  margin-top: 3.375rem;
  margin-bottom: 3.375rem;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw); }

.media-spread__media {
  display: block;
  width: 100%;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto; }

.media-spread__caption {
  display: block;
  width: 100%;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.26562rem;
  color: #7b7979;
  font-size: 1rem; }

.testimonial {
  display: flex;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto; }

.testimonial__headshot {
  flex-shrink: 0;
  margin-right: 2.53125rem;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid #fff; }

.testmonial__quote {
  max-width: none;
  margin-top: 0;
  font-size: 1.625rem;
  font-weight: bold; }
  .testmonial__quote:before {
    content: '';
    display: inline-block;
    background: url("images/quote.svg") no-repeat;
    width: 32px;
    height: 28px;
    margin-right: 0.42188rem; }

.testimonial__cite {
  display: block;
  margin-top: 1.6875rem;
  font-size: 1.25rem;
  font-weight: normal;
  font-style: normal; }

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #efefef; }

.navbar__menu {
  display: flex;
  align-items: center; }

.navbar__link {
  display: inline-block;
  padding: 1.6875rem 0.84375rem;
  color: #231f20;
  text-decoration: none; }
  .navbar__link:hover,
  .dropdown:hover .navbar__link {
    background-color: #f5f5f5;
    color: #231f20; }

.navbar__icon {
  position: relative;
  top: -3px;
  display: inline-block;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.42188rem; }

.navbar__link--muted {
  color: #7b7979;
  font-size: 1rem;
  font-weight: normal; }

.navbar__button {
  margin-left: 1.26562rem;
  margin-right: 1.26562rem; }

.navbar__logo {
  align-self: stretch;
  flex-shrink: 0;
  display: flex;
  padding-left: 0.84375rem; }
  .navbar__logo .navbar__link {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center; }
  .navbar__logo img {
    width: 44px;
    height: 53px; }

.navbar__divider {
  position: relative;
  margin-right: 1.6875rem; }
  .navbar__divider:after {
    content: '';
    position: absolute;
    top: 1.26562rem;
    bottom: 1.26562rem;
    left: calc(100% + 0.84375rem);
    width: 2px;
    background-color: #efefef; }

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-top: 6.75rem;
  background-color: #231f20;
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center; }
  .hero > * {
    position: relative;
    z-index: 2; }
  .hero:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.8; }

.hero__title {
  font-size: 4rem;
  margin-bottom: 0; }

.hero__subtitle {
  margin-top: 2.53125rem;
  font-size: 1.625rem;
  font-weight: bold;
  color: #fff; }

.hero__product {
  width: 40rem;
  height: 20rem;
  margin-top: 6.75rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #666; }

.hero__cta {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%); }

.footer {
  padding-top: 6.75rem;
  padding-bottom: 6.75rem;
  background-color: #f5f5f5;
  color: #4f4c4d;
  font-size: 1rem;
  display: flex; }
  .footer a {
    color: #4f4c4d;
    font-weight: normal; }
    .footer a:hover, .footer a:focus {
      color: #231f20; }
  .footer p {
    font-size: 1rem; }
  .footer .container {
    flex: 1; }

.footer__logo {
  margin-right: 3.375rem;
  flex-shrink: 0; }
  .footer__logo img {
    width: 46px;
    height: auto; }

.footer__body {
  flex: 1; }

.u-inline-block {
  display: inline-block; }

.u-block {
  display: block; }

.u-flex {
  display: flex; }

.u-h1, .u-h2, .u-h3 {
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 1.25em; }

.u-h1 {
  font-size: 2.625rem; }

.u-h2 {
  font-size: 1.75rem; }

.u-h3 {
  font-size: 1.375rem; }

.u-text-nowrap {
  white-space: nowrap; }

.u-text-center {
  text-align: center; }

p.u-text-center,
.u-text-center p {
  margin-left: auto;
  margin-right: auto; }

.u-text-small,
.u-text-small p {
  font-size: 1rem !important; }

@media only screen and (min-width: 48rem) {
  .u-text-small,
  .u-text-small p {
    font-size: 1rem !important; } }

.u-text-large {
  font-size: 1.625rem; }

.u-text-lede {
  font-size: 1.625rem;
  color: #231f20; }
  .u-text-lede.u-text-center {
    margin-left: auto;
    margin-right: auto; }

.u-margin-top-none {
  margin-top: 0 !important; }

.u-margin-top-tiny {
  margin-top: 0.40078rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-top-tiny {
      margin-top: 0.42188rem !important; } }

.u-margin-top-xsmall {
  margin-top: 0.80156rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-top-xsmall {
      margin-top: 0.84375rem !important; } }

.u-margin-top-small {
  margin-top: 1.20234rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-top-small {
      margin-top: 1.26562rem !important; } }

.u-margin-top-baseline {
  margin-top: 1.60313rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-top-baseline {
      margin-top: 1.6875rem !important; } }

.u-margin-top-large {
  margin-top: 2.40469rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-top-large {
      margin-top: 2.53125rem !important; } }

.u-margin-top-xlarge {
  margin-top: 3.20625rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-top-xlarge {
      margin-top: 3.375rem !important; } }

.u-margin-top-huge {
  margin-top: 6.4125rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-top-huge {
      margin-top: 6.75rem !important; } }

.u-margin-bottom-baseline {
  margin-bottom: 1.60313rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-bottom-baseline {
      margin-bottom: 1.6875rem !important; } }

.u-margin-bottom-large {
  margin-bottom: 2.40469rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-bottom-large {
      margin-bottom: 2.53125rem !important; } }

.u-margin-bottom-xlarge {
  margin-bottom: 3.20625rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-bottom-xlarge {
      margin-bottom: 3.375rem !important; } }

.u-margin-bottom-huge {
  margin-bottom: 6.4125rem !important; }
  @media only screen and (min-width: 48rem) {
    .u-margin-bottom-huge {
      margin-bottom: 6.75rem !important; } }

.u-pointer:after, .u-pointer-negative:after {
  content: '';
  position: relative;
  top: -2px;
  left: 0;
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 18px;
  margin-left: 0.42188rem;
  background: url("images/icon-pointer-red.svg") no-repeat;
  transition: left 0.1s ease-out; }

.u-pointer:hover:after, .u-pointer:focus:after, .u-pointer-negative:hover:after, .u-pointer-negative:focus:after {
  left: 3px; }

.u-pointer.button:hover:after, .u-pointer.button:focus:after, .u-pointer-negative.button:hover:after, .u-pointer-negative.button:focus:after {
  background-image: url("images/icon-pointer-white.svg"); }

.u-pointer-negative:after {
  background-image: url("images/icon-pointer-white.svg"); }

.u-dotted-bottom {
  position: relative;
  padding-bottom: calc(2.53125rem + 9px); }
  .u-dotted-bottom:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    background: url("images/dotted-break.svg") no-repeat;
    width: 144px;
    height: 9px; }
  .u-dotted-bottom.u-text-center:after,
  .u-text-center .u-dotted-bottom:after {
    left: calc(50% - (144px / 2)); }

.u-dotted-top {
  position: relative;
  padding-top: calc(2.53125rem + 9px); }
  .u-dotted-top:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: url("images/dotted-break.svg") no-repeat;
    width: 144px;
    height: 9px; }
  .u-dotted-top.u-text-center:before,
  .u-text-center .u-dotted-top:before {
    left: calc(50% - (144px / 2)); }

.u-text-mark,
.u-text-mark-light {
  display: inline;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-bottom: 0.25em;
  background-image: url("images/mark-line.svg");
  background-size: 100% 1.5em;
  background-position: 0 0.45em;
  background-repeat: repeat-y;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone; }

.u-text-mark-light {
  background-image: url("images/mark-line-light.svg"); }
