{% load cms_tags static %}

<div class="blurb">
  {% if instance.symbol %}
  <div class="symbol">
    {% with 'images/symbols/svg/symbol-'|add:instance.symbol|add:'.svg' as symbol %}
    <img src="{% static symbol %}" alt="">
    {% endwith %}
  </div>
  {% endif %}
  <h3 class="blurb__title">{{ instance.header }}</h3>
  <p class="blurb__text">{{ instance.text }}</p>
  <div class="blurb__actions">
  {% for plugin in instance.child_plugin_instances %}
    {% render_plugin plugin %}
  {% endfor %}
  </div>
</div>
