{% load cms_tags static %}

<div class="blurb">
  <div class="symbol">
    <img src="{% static "images/icons/svg/symbol-book.svg" %}" alt="">
  </div>
  <h3 class="blurb__title">Lär dig Zetkin</h3>
  <p class="blurb__text">Om du vill lära dig hur man använder Zetkin är vår uttömmande manual en bra plats att börja.</p>
  <div class="blurb__actions">
    <a href="#" class="u-pointer">Manual för aktivister</a>
    <a href="#" class="button u-pointer">Donera till utvecklingsfonden</a>
  </div>
</div>
