{% load thumbnail %}
{% load cms_tags %}
<div class="section section--band" style="background-image: url('{{ instance.background.url }}');">
  <div class="container">
    <div class="testimonial">
      {% if instance.portrait %}
      <img src="{% thumbnail instance.portrait 250x250 crop %}" alt="" class="testimonial__headshot">
      {% endif %}
      <div>
        <blockquote class="testmonial__quote u-margin-bottom-baseline">
          <span class="u-text-mark">{{ instance.quote }}</span>
          <cite class="testimonial__cite">{{ instance.citation }}</cite>
        </blockquote>
        {% for plugin in instance.child_plugin_instances %}
        {% render_plugin plugin %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
