<div class="section section--band" style="background-image: url('/assets/images/section-bg.jpg');">
  <div class="container">
    <div class="testimonial">
      <img src="testimonial-headshot.jpg" alt="" class="testimonial__headshot">
      <div>
        <blockquote class="testmonial__quote u-margin-bottom-baseline">
          <span class="u-text-mark">Det fanns människor som var redo att gå ut på gatorna för Vänsterpartiet.</span>
          <cite class="testimonial__cite"><strong>Daniel Sestrajcic</strong>, Vänsterpartiet Malmö, om den historiska valrörelsen 2014 då partiföreningen organiserade 400 aktivister med Zetkin.</cite>
        </blockquote>
        <a href="#" class="u-pointer-negative">Läs hela fallstudien</a>
      </div>
    </div>
  </div>
</div>
