{% load cms_tags %}

<div class="mainnav__item mainnav__deeplinkitem mainnav__deeplinkitem--{{instance.link_format}}">
  <a class="mainnav__itemhead" href="{{ instance.link_target }}">
    <strong class="mainnav__item-label">{{ instance.label }}</strong>
    {% if instance.description %}
    <p class="mainnav__item-desc">{{ instance.description }}</p>
    {% endif %}
  </a>
  {% if instance.child_plugin_instances %}
  <ul class="mainnav__deeplinks">
    {% for plugin in instance.child_plugin_instances %}
      <li>{% render_plugin plugin %}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if instance.summary_link_label %}
  <a href="{% page_url instance.summary_link_target %}" class="mainnav__summary">{{ instance.summary_link_label }}</a>
  {% endif %}
</div>
