{% assign strings=site.data.strings[page.lang] %}
<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ strings.title }}</title>
        <meta name="description" content="{{ page.kicker | strip_newlines }}">
    
        <link rel="icon" type="image/png" href="/assets/img/favicon.png" />
        <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ "/css/home.css" | prepend: site.baseurl }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        {% if page.redirect %}
        <meta http-equiv="refresh" content="0;URL='{{ page.redirect }}'">
        {% endif %}

        {% include ogmeta.html %}
    </head>
    <body class="campaign campaign-{{ page.campaign.slug }}">
        {% include header.html %}
        <section class="hero" style="background-color: {{ page.campaign.color }}; background-image: url(/assets/campaigns/{{ page.campaign.slug }}/hero.png">
            <div class="hero-content">
                <small>{{ page.hero.lead }}</small>
                <h1>{{ page.hero.h }}</h1>
                <p>
                    {{ page.hero.intro }}
                </p>
            </div>
        </section>
        <section class="main">
            {% if page.kicker %}
            <p class="kicker">
                {{ page.kicker }}
            </p>
            {% endif %}
            <div class="content">
                {{ content }}
            </div>
        </section>
        {% include blocks.html %}
        {% include footer.html %}
    </body>
</html>
