{% assign strings=site.data.strings[page.lang] %}
<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ strings.title }}</title>
        <meta name="description" content="{{ page.kicker | strip_newlines }}">
    
        <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ "/css/home.css" | prepend: site.baseurl }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    </head>
    <body>
        <header class="header">
            <div class="logo">
                <a href="/{{ page.lang }}"><img
                    src="/assets/img/logo.png" alt="Zetkin"></a>
            </div>
            <div class="menu">
                {% assign menu=site.data.menu[page.lang] %}
                {% capture base %}/{{ page.lang }}{% endcapture %}
                {% include menu.html menu=menu parent=base %}
            </div>
        </header>
        <section class="hero">
            <div class="hero-content">
                <h1 class="slogan">{{ strings.home.hero.slogan }}</h1>
                <p class="intro">
                    {{ strings.home.hero.intro }}
                </p>
            </div>
        </section>
        <footer>
            <div class="lang-select">
                {{ strings.header.translations }}:
                <ul>
                {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                {% for page in pages %}
                    <li>
                        <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <p>
                <a href="//zetkin.org"><img
                    class="zf-logo"
                    alt="Zetkin Foundation"
                    src="/assets/img/zf-logo-black.png"></a>
            </p>
            <p>
                <a href="//zetkin.org">Zetkin Foundation</a> |
                <a href="//zetk.in">zetk.in</a> |
                <a href="//organize.zetk.in">Zetkin Organize</a>
            </p>
        </footer>
        <script src="https://use.typekit.net/tqq3ylv.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
    </body>
</html>
